@model EmployeeApplication.Models.Department
@{
    ViewBag.Title = "DeparmentEmployeesList";
}
<div id="departmentEmployeeList">
    <div>
        <h3>Employees List in Department : @Html.DisplayFor(model => model.DepartmentName)</h3>
    </div>
    <br />
    <div>

        <table class="table">
            <tr>
                <th>Employee Name</th>
                <th>Department</th>
            </tr>
            @foreach (var employee in Model.EmployeeList)
            {
                <tr>
                    <td>@employee.EmployeeName</td>
                    <td>@Html.DisplayFor(model => model.DepartmentName)</td>
                </tr>
            }
        </table>
    </div>
    @Ajax.ActionLink("Back To Departments", "Index", "Department", new AjaxOptions { HttpMethod = "get", UpdateTargetId = "departmentEmployeeList", InsertionMode = InsertionMode.Replace })
</div>